{{#if resume.languages.length}}
<section id="languages">
	<h3>Languages</h3>
  <section>
    {{#each resume.languages}}
    <div class="item">
      {{#if name}}
      <div class="language">
        {{name}}
      </div>
      {{/if}}
      {{#if level}}
      <div class="fluency">
        <em>{{level}}</em>
      </div>
      {{/if}}
    </div>
    {{/each}}
  </section>
</section>
{{/if}}
